#graph {
  /* Use same padding as around the SVG drawing */
  --edge: calc(1vmin / 1.02);
  --size: calc(100vmin - 2 * var(--edge));

  position: absolute;
  width: var(--size);
  height: var(--size);
  padding: var(--edge);
}