
#inputs {
  --dim: #bbb;

  position: absolute;
  top: 2em;
  right: 2em;

  padding: 0;

  div.input {
    display: block;
    /* margin-bottom: 1em; */
  }

  span:first-child {
    display: block;
    font-weight: bold;
    &::after {
      content: ":";
    }
  }

  div.range,
  div.info,
  div.import {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    input {
      vertical-align: middle;
    }
    
    & span:last-child {
      color: var(--dim);
      background-color: #444;
    }
  }

  & span.dim {
    color: var(--dim);
  }

  div.simple {
    display: flex;
    justify-content: space-between;
  }

  input[type=text],
  div.info span:last-child {
    width: 3em;
    margin-left: 0.5em;
    padding: 0.25em 0.5em;
    text-align: right;
    font-family: inherit;
    font-size: inherit;
  }
}