
#inputs {
  --dim: #bbb;
  font-size: min(16px, 2.2vmin);

  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;

  div.input {
    display: block;
  }

  span:first-child {
    display: block;
    font-weight: bold;
    &::after {
      content: ":";
    }
  }

  div.range,
  div.info,
  div.import {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    input {
      vertical-align: middle;
    }
    
    & span:last-child {
      color: var(--dim);
      background-color: #444;
    }
  }

  & span.dim {
    color: var(--dim);
  }

  div.simple {
    display: flex;
    justify-content: space-between;
  }

  input[type=text],
  div.info span:last-child {
    width: 3em;
    margin-left: 0.5em;
    padding: 0.25em 0.5em;
    text-align: right;
    font-family: inherit;
    font-size: inherit;
  }

  ul.control-points {
    list-style-type: none;
    padding: 0;
    margin-top: 2em;

    li {
      display: flex;
      justify-content: space-between;

      span {
        display: inline;
        text-align: right;

        &:first-child {
          width: 12em;
        }
      }
    }
  }
}